

*{

    margin: 0px;
    padding: 0px;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    ul{
        display: flex;
        list-style: none;
        gap: 60px;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    img{
        height: 50px;
    }
    .nav{
        display: flex;
        padding: 10px;
    }
    button{
        width: 150px;
        height: 40px;
        background-color:maroon;
        color: white;
        border: none;
        border-radius: 20px;
    }
    .header{
        background-color: navy;
        color: white;
        padding: 10px;
    }
    hr{
        background-color: lightblue;
        padding: 1px;
    }
    .welcome{
        display: flex;
        background-color: rgb(213, 233, 239);
    }
    #photo1{
        height: 500px;
    }
    .learn{
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    h4{
        font-family: Arial, Helvetica, sans-serif;
        color: purple;
        text-transform: uppercase;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        line-height: 2;
    }
    #para1{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(64, 64, 123); 
        line-height: 2;
    }
    
    .middle{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    #photo2{
        height: 400px;
        padding: 20px
    }
    .learn1{
        padding: 10px;
        margin: 0px;
    
    }
    #message{
        font-family: 'Times New Roman', Times, serif;
        color: rgb(56, 56, 137);
    }
    
    #para2{
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(64, 64, 123); 
        line-height: 2;
        margin-left: 150px;
        margin-right: 150px;
    }
    #sign{
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
    }
     
    .main{
        display: flex;
        gap: 20px;
    }
    
    .sec2{
        display: flex;
        grid-template-columns: 3, 1fr;
        padding: 20px;
        gap: 30px;
    }
    
    #photo3{
        height: 300px;
    }
    
    #photo4{
        height: 200px;
    }
    
    #photo5{
        height: 150px;
    }
    
    .con{
        margin-left: 50px;
    }
    
    .about{
        display: flex;
        gap: none;
    }
    
    #us{
        color: gold;
        padding: 8px;
        text-transform: uppercase;
    }
    
    .line{
        margin-top: 15px;
    }
    
    #one{
        background-color: maroon;
        border: none;
        width: 80px;
        margin-right: 50px;
        
    }
    
    #why{
        color: rgb(56, 56, 137);
        font-family: 'Times New Roman', Times, serif;
        line-height: 1;
        padding: 3px;
    }
    
    #para3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        color: gray;
        line-height: 2;
        margin-top: 10px;
        margin-right: 60px;
    }
    
    #tt{
        margin-top: 27px;
        margin-left: 14px;
    }
    
    #tp{
    
        margin-top: 27px;
        margin-left: 20px;
    
    }
    
    .icon{
        display: flex;
        gap: 150px;
        align-items: center;
        justify-content: center;
    }
    
    .book, .paper{
    border-radius: 50%;
    margin: 10px;
    width: 55px;
    height: 55px;
    background-color: navy;
    }
    
    .graduate{
        border-radius: 50%;
    margin: 10px;
    width: 55px;
    height: 55px;
    background-color: rgb(142, 17, 17);
    }
    
    #ppp{
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-small;
        align-items: center;
        justify-content: center;
    }
    
    .tt4{
    font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
    }
    
    .hh4{
    
        text-align: center;
        color: rgb(56, 56, 137);
        margin: 10px;
    }
    
    .paraa{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    #para4{
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        text-align: center;
        line-height: 2;
        color: rgb(56, 56, 137);
    
    }
    #no{
    
        font-family: "Bungee Outline", sans-serif;
    
    }
    
    #no0{
        color: white;
        font-family: "Bungee Outline", sans-serif;
    
    }
    
    .boxes{
        display: flex;
        gap: 50px;
        margin: 40px;
    }
    
    .box1, .box3 {
        padding: 20px;
        width: 750px;
        height: 250px;
        border-radius: 4px;
    border: none;
        box-shadow: 3px 3px 10px;
    margin: 5px;
    }
    
    .box2{
        background-color: rgb(6, 6, 110);
        color: white;
        padding: 20px;
        width: 750px;
        height: 255px;
        border-radius: 4px;
    border: none;
        box-shadow: 3px 3px 10px black;
    margin: 5px;
    }
    
    #no1{
    
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        color: rgb(56, 56, 137);
        line-height: 2;
    }
    
    #no2{
    
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        color: white;
        line-height: 2;
    }
    
    
    .sec5{
    
        background-image: url(https://as2.ftcdn.net/v2/jpg/04/69/52/95/1000_F_469529513_c1835B2j7cnxAM4mBJG7EibTf7mJQDa8.jpg);
        height: 100%;
        width: 100%;
        position: relative;
        padding: 50px;
    }
    
    
    .sec5::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(27, 44, 235, 0.5);
        z-index: 1;
        align-items: center;
        justify-content: center;
      }
    
    #p5{
        position: relative;
        z-index: 2;
        font-size: medium;
        line-height: 2;
        color: white;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        padding: 40px;
    }
    
    #hh1{
        position: relative;
        color: white;
        z-index: 2;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    
    .btn{
    
        padding-bottom: 50px;
        margin-right: 50px;
    }
    #btn1{
        position: relative;
        z-index: 3;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .test6{
        text-align: center;
        padding-top: 30px;
    }
    
    .hh6{
    
        text-align: center;
    }
    
    #h61{
    
        font-family: 'Times New Roman', Times, serif;
        color: rgb(56, 56, 137);
    }
    
    #para6{
    
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 100px;
    line-height: 2;
        text-align: center;
    }
    
    #photo6{
        border-radius: 20px
    
    }
    
    .guff{
    
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
        margin: 60px;
    }
    
    #star{
        height: 80px;
        width: 20px;
        gap: none;
    
    }
    
    .box6, .box7, .box8{ 
     padding: 20px;
        width: 750px;
        height: 250px;
        border-radius: 4px;
    border: none;
        box-shadow: 3px 3px 10px;
    margin: 5px;
    }
    
    
    .bb6, .bb7, .bb8{
        display: flex;
        gap: 40px;
    }
    
    #pp6{
        font-size: small;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #trust{
        text-transform: uppercase;
        color: purple;
        text-align: center;
    }
    
    
    #our{
    
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(56, 56, 137);
    }
    
    
    .div4{
    
        display: flex;
        margin: 50px;
        gap: 120px;
        align-items: center;
        justify-content: center;
    }
    
    .div10{
    
        background-color: navy ;
        padding: 30px;
        display: flex;
        gap: 20px;
        width: 100%;
    }
    
    
    .mini{
    
    display: flex;
    
    }
    
    #h21{
    
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
    }
    
    #para12{
    
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
    }
    
    .div13{
        display: flex;
        gap: 20px;
    }
    
    #p15{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        margin: 10px;
    }
    
    
    #hr15, #hr16, #hr17, #hr18{
        border: none;
        background-color: white;
    }
    #puses{
        padding: 30px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
    }
    
    
    #scan{
    margin: 30px;
        width: 100px;
        height: 100px;
    }
    
    #pulink{
    
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        padding: 20px;
        width: 300px;
    }
    
    
    #pcontact{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        padding: 10px;
        margin: 10px;
    }
    
    .foot{
        background-color: rgb(11, 11, 110);
        padding: 10px;
    }
    
    
    #copyr{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        color: rgba(245, 245, 245, 0.486);
    }
    #nep{
        color: rgba(255, 255, 255, 0.689);
        
    }
    
    #lnkk{
    
        color: white;
        text-decoration: none;
        font-size: small;
    }
    